<footer class="global-footer">
    <dl class="footer-list">
        <div class="footer-item">
            <dt>company</dt>
            <dd>작심삼일</dd>
        </div>
        <div class="footer-item">
            <dt>E-mail</dt>
            <dd>
                <address>
                    <a href="mailto:contact@email.com">
                        contact@email.com
                    </a>
                </address>
            </dd>
        </div>
        <div class="footer-item">
            <dt>copyright</dt>
            <dd>Copyright © 2021 작심삼일 Co. All Rights Reserved</dd>
        </div>
    </dl>
</footer>