@font-face {
  font-family: "jaksim";
  src: url("../assets/fonts/jaksim.eot");
  src: url("../assets/fonts/jaksim.eot#iefix") format("embedded-opentype"),
    url("../assets/fonts/jaksim.ttf") format("truetype"),
    url("../assets/fonts/jaksim.woff") format("woff"),
    url("../assets/fonts/jaksim.svg#jaksim") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "jaksim" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before {
  content: "\e900";
}
.icon-bookmark-filled:before {
  content: "\e901";
}
.icon-caret:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-chevron:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-new:before {
  content: "\e909";
}
.icon-profile:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-star:before {
  content: "\e90c";
}
