.user_login_wrapper {
  text-align: center;
  padding: 32px 0px 0px;
  margin: 0px 0px 34px;
}

.user_login_wrapper h1 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.025;
  text-align: center;
  margin: 0px 0px 32px;
}

.social_login_wrapper {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.02em;
  font-weight: normal;
  color: rgb(61, 61, 61);
  margin: 0px 0px 23px 0px;
}

.social_login_btn {
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 52px;
  white-space: nowrap;
  border-radius: 4px;
  outline: 0px;
  box-sizing: border-box;
  padding: 0px 24px;
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.02em;
  font-weight: normal;
  /* margin: 0px 0px 10px; */
  color: rgb(61, 61, 61);
}

.social_login_btn svg {
  width: 1em;
  height: 1em;
}

.kakao {
  margin: 0px 8px 0px 0px;
  font-size: 24px;
}

.email_icon {
  margin: 0px 8px 0px 0px;
  width: 20px;
  height: 20px;
}

.email_icon img {
  height: 100%;
}

.login_divider {
  padding: 10px 0;
  overflow: hidden;
  text-align: center;
}

.login_divider > span {
  position: relative;
  padding: 16px;
  color: rgb(158, 158, 158);
  font-size: 13px;
}

.login_divider span::before {
  right: 100%;
}

.login_divider span::after {
  left: 100%;
}

.login_divider span::before,
.login_divider span::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgb(228, 228, 228);
  top: 50%;
  width: 5000px;
}

.login_divider2 {
  overflow: hidden;
  text-align: center;
  padding: 20px 0px;
  position: relative;
}

.login_divider2::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgb(228, 228, 228);
  left: 0px;
  top: 50%;
  width: 5000px;
}

.login_form_wrapper {
  text-align: left;
  margin: 0px 0px 23px;
}

.input_wrapper {
  border: 1px solid rgb(230, 230, 230);
  color: rgb(13, 13, 13);
  background: rgb(255, 255, 255);
  padding: 0px 12px;
  max-height: 44px;
  min-width: 100px;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  margin: 0 0 12px;
}

.isValid {
  border: 1px solid rgb(255, 87, 87);
  color: rgb(13, 13, 13);
  background: rgb(255, 255, 255);
  padding: 0px 12px;
  max-height: 44px;
  min-width: 100px;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
}

.form_warning {
  margin: 8px 0px 12px;
  color: rgb(255, 87, 87);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.015em;
}

.formLabel {
  color: rgb(61, 61, 61);
  margin: 0px 0px 10px;
}

.input_wrapper input {
  width: 100%;
  background: transparent;
  border: 0px;
  padding: 11px 0px;
  box-sizing: border-box;
  height: 100%;
  outline: none;
  margin: 0px;
}

.login_submit_btn {
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 52px;
  white-space: nowrap;
  border-radius: 4px;
  margin: 0px;
  border: 0px;
  outline: none;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0px 24px;
  background-color: rgb(255, 87, 87);
  color: rgb(255, 255, 255);
}

.signIn_wrapper {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.015em;
  margin: 20px 0px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(109, 109, 109);
}
.signIn_wrapper > span {
  margin: 0px 0px 0px 5px;
}
.user_login_wrapper a {
  color: rgb(39, 163, 255);
  text-decoration: underline;
}

.forgetPassword_wrapper {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.015em;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 13px;
  }
  .login_container {
    width: 400px;
    padding: 72px 0px 0px;
    margin: 0px auto 12px;
  }

  .user_login_wrapper {
    padding: 32px;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228);
    text-align: center;
  }
}
