/* header */
.logo a h1 {
  text-align: center;
  font-weight: 700;
  color: #000;
}

.global-header {
  padding-top: 1px;
}

.header-right {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.upload-btn:hover {
  color: #000;
}

.nav-list {
  margin: auto 0;
}

.search-wrapper input {
  width: 162px;
}

.nav-item a:hover {
  color: #fa6461;
  transition: color 0.5s ease-in-out;
}
.create_container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 450px;
  height: 630px;
  background-color: #ffffff;
  border: 2px solid #c8c8c8;
  border-radius: 10px;
}

#profile_text {
  font-size: 12px;
  position: absolute;
  margin-top: 50px;
  margin-left: 105px;
  color: #838383;
}

#picture_container {
  display: absolute;
  border: none;
  width: 150px;
  height: 107px;
  margin-left: 73px;
  margin-top: 10px;
  background-color: transparent;
  text-align: center;
}

#picture_container label {
  display: inline-block;
  padding-top: 80px;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  background: transparent;
}

#picture_container input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#create_img {
  position: absolute;
  width: 150px;
  height: 107px;
  margin-top: -73px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
}

#title_default {
  margin-top: 35px;
}

.input_container {
  margin-left: 74px;
  margin-top: 5px;
}

.input_container h2 {
  font-size: 12px;
  font-weight: 600;
}

#type_check_container {
  margin-left: 68px;
  margin-top: 10px;
}

#create_title {
  font-size: 10px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #c8c8c8;
  outline: none;
}

#title_length {
  font-size: 10px;
  margin-top: 6px;
  margin-left: 278px;
  margin-bottom: 10px;
  color: #838383;
}

#create_introduce {
  font-size: 10px;
  width: 300px;
  height: 60px;
  border: 2px solid #c8c8c8;
  border-radius: 10px;
  outline: none;
  resize: none;
}

#introduce_length {
  font-size: 10px;
  margin-left: 272px;
  margin-bottom: 10px;
  color: #838383;
}

#category {
  margin-left: 7px;
  font-size: 10px;
  width: 100px;
  height: 30px;
}

#start_date_con {
  margin-top: 10px;
}

#start_date {
  font-size: 7px;
  padding-left: 3px;
  padding-right: 0px;
  width: 100px;
  height: 30px;
  background-image: none;
}

#end_date_con {
  margin-top: 10px;
}

#end_date {
  font-size: 7px;
  padding-left: 3px;
  padding-right: 0px;
  width: 100px;
  height: 30px;
  background-image: none;
}

#button_container {
  width: 300px;
  height: 37px;
  left: 439px;
  top: 818px;
  background: #ff5c5c;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 74px;
  text-align: center;
}

#create_submit {
  border: none;
  margin-top: 12px;
  background-color: #ff5c5c;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  cursor: pointer;
}
