/* body {
  margin: 0 0 0 0;
  width: 1440px;
} */
/* header {
  height: 100px;

  top: 0px;
} */
.detailPageListAll {
  width: 1056px;
  margin: auto;
}

.divideLayer {
  height: 0px;
  top: 30px;
  background-color: #c8c8c8;
  border: 1px solid #c8c8c8;
}
.headerContent {
  height: 95px;
}
.headerContent ul {
  list-style: none;
  padding: 37px 0 0 27px;
  margin: 0px;
}

.headerContent ul li {
  list-style: none;
  padding: 0 32px 0 0;
  border: 0;
  float: left;
}

.headerContent ul li a {
  text-decoration-line: none;
  color: black;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
.challengeTitle {
  justify-content: center;
  display: flex;
}
.postCategory {
  margin-top: 40px;
  width: 98px;
  height: 47px;
  background: #efefef;
  border-radius: 100px;
  color: #979797;
}

.postCategory div {
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 47px;
}

.challengeTitle h1 {
  margin: 21px 0 0 0;
}
.creator {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin: 21px 0 0 0;
}
.creatorName {
  padding-top: 8px;
  float: right;
  padding-left: 6px;
}
.detailPostImg {
  margin-left: 31px;
  text-align: center;
  margin-top: 70px;
  float: left;
  overflow: hidden;
  width: 641.04px;
  height: 432.76px;
}
.detailPostImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.registerChallenge {
  display: inline-block;
  margin-left: 37px;
  margin-top: 70px;
  width: 334px;
  height: 433px;
}
.attendChallenge {
  display: inline-block;
  margin-left: 37px;
  margin-top: 70px;
  width: 334px;
  height: 433px;
}
.registerChallenge span {
  padding-top: 44px;

  display: inline-block;
  top: 44px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
.startDateTxt {
  margin-top: 26px;
}

.startDate,
.endDate {
  line-height: 56px;
  margin-top: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}
#create_submit {
  margin-top: 22px;
  width: 332px;
  height: 58px;
  background: #ff5c5c;
  border-radius: 7px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  border: 0px;
  padding: 0 0 0 0;
  cursor: pointer;
}

#create_submit:hover {
  background-color: #ff918f;
}

.challengeTitle form {
  height: 0px;
}

.registerButton {
  margin-top: 81px;
  width: 332px;
  height: 58px;
  background: #ff5c5c;
  border-radius: 7px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  border: 0px;
  padding: 0 0 0 0;
  cursor: pointer;
}
.registerButton:hover {
  background-color: #ff918f;
}
.progressTxt {
  width: 307.88px;
  margin-bottom: 28px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.calendar {
  margin-top: 28px;
  background-color: transparent;
  border: transparent;
  width: 0px;
  height: 0px;
  left: 983px;
  top: 590px;
}
.registerForbiddenButton {
  margin-top: 20px;
  pointer-events: none;
  width: 332px;
  height: 58px;
  border: 0px;
  background: #bbbfca;
  border-radius: 7px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  border: 0px;
}

.attendButton {
  margin-top: 20px;
  cursor: pointer;
  width: 332px;
  height: 58px;
  border: 0px;
  background: #ff5c5c;
  border-radius: 7px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  border: 0px;
}
.attendButton:hover {
  background-color: #ff918f;
}
.divideLayerMiddle {
  clear: both;

  width: 100%;
  border: 1px solid #c8c8c8;
  background-color: #c8c8c8;
  margin-top: 110px;
}
.challengeTxt {
  float: left;
  margin: 40px 0 0 30.91px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
.storyContent {
  margin-top: 43px;
  width: 641.04px;
  height: 432.76px;
  padding: 24px 24px 24px 24px;
  background: #f4f4f2;
  font-size: 13px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.storyContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.reviewWrite {
  float: right;
  margin: 40px 311px 43px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.createCard {
  margin-bottom: 20px;
  width: 334.14px;
  height: 164.12px;
  background: #fffefe;
  border: 1px solid #bcbcbc;
  box-sizing: border-box;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 15px;
}

.createCard textarea::placeholder {
  color: #bcbcbc;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.postReviewButton {
  width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1f9de6;

  font-weight: bold;
}
.createCardLink {
  margin-top: 24px;
  text-decoration: underline;
  color: #1f9de6;
}
.registerDateTitle {
  justify-content: center;
  display: flex;
}
.reviewCard {
  float: left;
  margin: 0 0 20px 0;
  width: 334.14px;
  height: 164.12px;
  background: #fffefe;
  border: 1px solid #bcbcbc;
  box-sizing: border-box;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.reviewIcon {
  width: 24.83px;
  height: 24.29px;
  margin: 19.14px 5.7px 17.66px 24.2px;
  float: left;
}
.reviewIcon img {
  display: block;
  width: 100%;
  height: auto;
}

.reviewWriteUser {
  height: 21px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  float: left;
  padding-top: 21px;
  padding-left: 8px;
}
.reviewText {
  width: 307.82px;
  height: 82.43px;

  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
  text-align: justify;
  color: #000000;
  clear: both;

  padding-left: 24.29px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.reviewText::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.reviewListBoard {
  float: right;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 432.75px;
  width: 335.14px;
  overflow-y: scroll;
  margin: 0 21.68px 0 0;
  justify-content: center;
}
.reviewListBoard::-webkit-scrollbar {
  display: none;
}
.attend {
  position: absolute;
  z-index: -1;
  width: 39px;
  height: 39px;
  top: -1px;
  left: -1px;
  content: " ";
  display: block;
  background: #5584ac;
}

.dayContainer {
  pointer-events: none;
}

.absent {
  z-index: -1;
  position: absolute;
  width: 39px;
  height: 39px;
  top: -1px;
  left: -1px;
  content: " ";
  background: #ffb085;
}
.detailPageMargin {
  height: 61.63px;
  width: 1056px;
  display: inline-block;
}
.flatpickr-day.today {
  border-radius: 0px;
}

.detailPageModal {
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.detailPageModalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 200px;
  padding-top: 89px;
  font-size: 22px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}
.reviewUpdateText {
  width: 282px;
  height: 68.43px;
  border: none;
  resize: none;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.reviewUpdateText::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.reviewUpdateButton {
  width: 84px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1f9de6;
  font-weight: bold;
  float: right;
  top: 10px;
  padding-right: 2px;
  margin: 0 24px 0 0;
}
.reviewDeleteButton {
  padding-top: 27px;
  padding-right: 24px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ff64c4;
  font-weight: bold;
}

.changeReviewText {
  width: 70px;
  height: 20.99px;
  padding-top: 27px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1f9de6;
  font-weight: bold;
  float: right;
  top: 10px;
}
.deleteReviewForm {
  width: 50px;
  float: right;
}
.detailFooter {
  clear: both;
  display: block;
}
.detailFooterMargin {
  clear: both;
  width: 100%;

  margin-top: 100px;
  display: inline-block;
}
