a {
  color: #00b7ff;
}

.create_container {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 682px;
  height: 1056px;
  background-color: #ffffff;
  border: 2px solid #c8c8c8;
  border-radius: 10px;
}
#profile_text{
  font-size: 20px;
  position: absolute;
  margin-top: 90px;
  margin-left: 72px;
  color: #838383;
}
#picture_container {
  display: absolute;
  border: none;
  width: 300px;
  height: 200px;
  margin-left: 190px;
  margin-top: 30px;
  background-color: transparent;
  text-align: center;
}

#picture_container label {
  display: inline-block;
  padding-top: 80px;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  background: transparent;
}

#picture_container input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#create_img {
  position: absolute;
  width: 300px;
  height: 200px;
  margin-left: -155px;
  margin-top: -73px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
}

#title_default{
  margin-top: 60px;
}

.input_container {
  margin-left: 68px;
  margin-top: 25px;
}
.input_container h2{
  font-size: 24px;
  font-weight: 700;
}

#type_check_container{
  margin-left: 68px;
  margin-top: 10px;
}

#create_title {
  width: 500px;
  border: none;
  border-bottom: 2px solid #c8c8c8;
  outline: none;
}

#title_length {
  margin-top: 6px;  
  margin-left: 465px;
  color: #838383;
}

#create_introduce {
  width: 500px;
  height: 70px;
  border: 2px solid #c8c8c8;
  border-radius: 10px;
  outline: none;
  resize: none;
}

#introduce_length {
  margin-left: 454px;
  color: #838383;
}
#category {
  width: 200px;
}
#start_date_con{
  margin-top: 10px;
}
#start_date{
  padding-right: 5px;
  width: 200px;
  background-image: none;
}
#end_date_con{
  margin-top: 10px;
}
#end_date{
  padding-right: 5px;
  width: 200px;
  background-image: none;
}
#button_container {
  width: 400px;
  height: 57px;
  left: 439px;
  top: 818px;
  background: #ff5c5c;
  border-radius: 17px;
  margin-top: 40px;
  margin-left: 141px;
  text-align: center;
}

#create_submit {
  border: none;
  margin-top: 15px;
  background-color: #ff5c5c;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}
